#android eclipse
local.properties

.project
*.swp
*.swo
*.sw*
*.pyc

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

.byebug_history

# Mac
*.DS_Store
*.profraw

# Python
/__pycache__

# C
*.o
*.gmo
myvirtualenv/
