"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "clipboard-plus"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "disable-keybindings":
    allBundledPackages: true
    exceptCommunityPackages: [
      "emacs-plus"
    ]
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "32bf75db-7250-c418-f277-fe45366ad7f4"
  "release-notes":
    viewedVersion: "0.82.0"
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
