"*":
  autosave:
    enabled: true
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "disable-keybindings":
    exceptCommunityPackages: [
      "emacs-plus"
    ]
    prefixKeys: [
      "ctrl-k"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "2d5252d4-fd50-e100-afe5-190bbca402ff"
  "release-notes":
    viewedVersion: "0.82.0"
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
