packages: [
  "advanced-open-file"
  "ascii-art"
  "atom-alignment"
  "atom-beautify"
  "atom-ide-ui"
  "clipboard-plus"
  "disable-keybindings"
  "emacs-plus"
  "git-plus"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "hyperclick"
  "language-markdown"
  "language-swift"
  "package-sync"
  "platformio-ide-terminal"
  "Sublime-Style-Column-Selection"
]
