packages: [
  "advanced-open-file"
  "ascii-art"
  "atom-alignment"
  "atom-beautify"
  "clipboard-plus"
  "disable-keybindings"
  "emacs-plus"
  "git-plus"
  "language-markdown"
  "language-swift"
  "package-sync"
]
