# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
'.source.gfm':
  'title':
    'prefix': 'ti'
    'body': """
    ---
    layout: ${1: post}
    title: ${2: title}
    ---

    $3
    """
  'code coffee':
    'prefix': 'cc'
    'body': '```coffee\n$1\n```\n$0'
  'code ruby':
    'prefix': 'cr'
    'body': '```rb\n$1\n```\n$0'
  'code js':
    'prefix': 'cj'
    'body': '```js\n$1\n```\n$0'

'.source.ruby':
  'define method':
    'prefix': 'd'
    'body': 'def $1\n  $2\nend'
  'write long commet':
    'prefix': 'w'
    'body': '##\n# $1\n#'
  'class':
    'prefix': 'c'
    'body': 'class ${1:Class}\n  $2\nend'

'.text.html.ruby':
  'erb_render_block':
    'prefix': 'R'
    'body': '<%= $1 %>'
  'erb_exec_block':
    'prefix': 'r'
    'body': '<% $1 %>'
  'render':
    'prefix': 're'
    'body': 'render "$1"$0'
  'button_to':
    'prefix': 'bt'
    'body': '<%= button_to "${1:name}", ${2:path} %>'
  'if else (ERB)':
    'prefix': 'ife'
    'body': '<% if ${1:condition} %>\n  $2\n<% else %>\n  $3\n<% end %>'
