# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
'.source.gfm, .text.md':
  'title':
    'prefix': 'ti'
    'body': """
    ---
    layout: ${1:post}
    title: $2
    ---

    $3
    """
  'code':
    'prefix': 'c'
    'body': '```$1\n$2\n```\n$0'
  'code bash':
    'prefix': 'cb'
    'body': '```bash\n$1\n```\n$0'
  'code coffee':
    'prefix': 'cc'
    'body': '```coffee\n$1\n```\n$0'
  'code ruby':
    'prefix': 'cr'
    'body': '```ruby\n$1\n```\n$0'
  'code js':
    'prefix': 'cj'
    'body': '```js\n$1\n```\n$0'
  'code html':
    'prefix': 'ch'
    'body': '```html\n$1\n```\n$0'
  'code python':
    'prefix': 'cp'
    'body': '```python\n$1\n```\n$0'

'.source.ruby':
  'define method':
    'prefix': 'd'
    'body': 'def $1\n  $2\nend'
  'write long commet':
    'prefix': 'w'
    'body': '##\n# $1\n#'
  'class':
    'prefix': 'c'
    'body': 'class ${1:Class}\n  $2\nend'

'.source.coffee':
  'write long commet':
    'prefix': 'w'
    'body': '##\n# $1\n#'

'.text.html.ruby, .source.js.rails, .source.js.jquery':
  'erb_render_block':
    'prefix': 'R'
    'body': '<%= $1 %>'
  'erb_exec_block':
    'prefix': 'r'
    'body': '<% $1 %>'
  'render':
    'prefix': 're'
    'body': 'render "$1"$0'
  'link_to image_tag':
    'prefix': 'it'
    'body': '<%= link_to image_tag(${1:img_src}), ${2:path} %>'
  'image_tag':
    'prefix': 'im'
    'body': '<%= image_tag(${1:img_src}, class: "$2") %>'
  'button_to':
    'prefix': 'bt'
    'body': '<%= button_to "${1:name}", ${2:path} %>'
  'if else (ERB)':
    'prefix': 'ife'
    'body': '<% if ${1:condition} %>\n  $2\n<% else %>\n  $3\n<% end %>'
  'cache':
    'prefix': 'cc'
    'body': '<% cache $1 do %>\n  $2\n<% end %>'
